<!-- SECTION CARD CTA STYLE 1 START -->
<div id="cardCtaStyleOne">
    <div class="container cardCtaStyleOne">
        <div class="row no-gutters">
            <div class="cardCtaStyleOne__imgCol col-lg-2">
                <img class="sr-only" src="public/marino-mascotte.png" alt="Insert Alt Text">
                <span class="cardCtaStyleOne__img" style="background-image: url('public/marino-mascotte.png')"></span>
            </div>
            <div class="col-lg-10 cardCtaStyleOne__contentCol">
                <div class="cardCtaStyleOne__content">
                    <h3 class="cardCtaStyleOne__header">Vieni a bordo a conoscere Marino, la nuova mascotte di GNV!</h3>
                    <p class="cardCtaStyleOne__description">A partire da questa estate Marino inizierà a viaggiare con noi:
                        con gentilezza e divertimento vi spiegherà come raggiungere le aree a voi dedicate, dove trovare
                        l’intrattenimento e i giochi per i più piccini.
                        Tutti i bambini, inoltre, acquistando in prevendita o a bordo uno dei menù a loro dedicati,
                        riceveranno i simpatici gadget della nostra mascotte.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- SECTION CARD CTA STYLE 1 END -->


