<!-- SECTION CARD CTA STYLE 2 START -->
<div class="container cardCtaStyleTwo --darkOverlay">
    <div class="cardCtaStyleTwo__wrapper ">
        <h3 class="cardCtaStyleTwo__header">Entra in negozio e scopri tanti prodotti in offerta!</h3>
        <p class="cardCtaStyleTwo__description">Entrer dans le magasin et trouvez de nombreux products offerts!</p>
        <div class="cardCtaStyleTwo__col">
            <ul class="cardCtaStyleTwo__products">
                <li class="cardCtaStyleTwo__product">
                    <div class="cardCtaStyleTwo__productCol">
                        <i class="cardCtaStyleTwo__gnvCardIconProducts --abbigliamento"></i>
                    </div>
                    <div class="cardCtaStyleTwo__productCol">
                        <h6 class="cardCtaStyleTwo__productTitle">Abbigliamento e accessori</h6>
                        <small class="cardCtaStyleTwo__productDescription">Vêtements et Accessoires</small>
                    </div>
                </li>
                <li class="cardCtaStyleTwo__product">
                    <div class="cardCtaStyleTwo__productCol">
                        <i class="cardCtaStyleTwo__gnvCardIconProducts --peluche"></i>
                    </div>
                    <div class="cardCtaStyleTwo__productCol">
                        <h6 class="cardCtaStyleTwo__productTitle">Abbigliamento e accessori</h6>
                        <small class="cardCtaStyleTwo__productDescription">Vêtements et Accessoires</small>
                    </div>
                </li>
                <li class="cardCtaStyleTwo__product">
                    <div class="cardCtaStyleTwo__productCol">
                        <i class="cardCtaStyleTwo__gnvCardIconProducts --accessori"></i>
                    </div>
                    <div class="cardCtaStyleTwo__productCol">
                        <h6 class="cardCtaStyleTwo__productTitle">Abbigliamento e accessori</h6>
                        <small class="cardCtaStyleTwo__productDescription">Vêtements et Accessoires</small>
                    </div>
                </li>
                <li class="cardCtaStyleTwo__product">
                    <div class="cardCtaStyleTwo__productCol">
                        <i class="cardCtaStyleTwo__gnvCardIconProducts --libri"></i>
                    </div>
                    <div class="cardCtaStyleTwo__productCol">
                        <h6 class="cardCtaStyleTwo__productTitle">Abbigliamento e accessori</h6>
                        <small class="cardCtaStyleTwo__productDescription">Vêtements et Accessoires</small>
                    </div>
                </li>
            </ul>
            <ul class="cardCtaStyleTwo__products">
                <li class="cardCtaStyleTwo__product">
                    <div class="cardCtaStyleTwo__productCol">
                        <i class="cardCtaStyleTwo__gnvCardIconProducts --souvenir"></i>
                    </div>
                    <div class="cardCtaStyleTwo__productCol">
                        <h6 class="cardCtaStyleTwo__productTitle">Abbigliamento e accessori</h6>
                        <small class="cardCtaStyleTwo__productDescription">Vêtements et Accessoires</small>
                    </div>
                </li>
                <li class="cardCtaStyleTwo__product">
                    <div class="cardCtaStyleTwo__productCol">
                        <i class="cardCtaStyleTwo__gnvCardIconProducts --cioccolato"></i>
                    </div>
                    <div class="cardCtaStyleTwo__productCol">
                        <h6 class="cardCtaStyleTwo__productTitle">Abbigliamento e accessori</h6>
                        <small class="cardCtaStyleTwo__productDescription">Vêtements et Accessoires</small>
                    </div>
                </li>
                <li class="cardCtaStyleTwo__product">
                    <div class="cardCtaStyleTwo__productCol">
                        <i class="cardCtaStyleTwo__gnvCardIconProducts --profumi"></i>
                    </div>
                    <div class="cardCtaStyleTwo__productCol">
                        <h6 class="cardCtaStyleTwo__productTitle">Abbigliamento e accessori</h6>
                        <small class="cardCtaStyleTwo__productDescription">Vêtements et Accessoires</small>
                    </div>
                </li>
                <li class="cardCtaStyleTwo__product">
                    <div class="cardCtaStyleTwo__productCol">
                        <i class="cardCtaStyleTwo__gnvCardIconProducts --tabacchi"></i>
                    </div>
                    <div class="cardCtaStyleTwo__productCol">
                        <h6 class="cardCtaStyleTwo__productTitle">Abbigliamento e accessori</h6>
                        <small class="cardCtaStyleTwo__productDescription">Vêtements et Accessoires</small>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- SECTION CARD CTA STYLE 2 END -->


