<!-- SECTION HEADER BANNER START -->
<section id="headerBanner">
    <div class="headerBanner">
        <div class="headerBanner__wrapper">
            <div class="headerBanner__img">
                <svg class="headerBanner__svg"
                     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440.4 360"
                     style="enable-background:new 0 0 1440.4 360" xml:space="preserve">
  <g style="opacity:.54">
    <linearGradient id="a" gradientUnits="userSpaceOnUse" x1=".159" y1="274.735" x2="1440.159" y2="274.735"
                    gradientTransform="matrix(1 0 0 -1 0 454.735)">
      <stop offset="0" style="stop-color:#0047ba"/>
        <stop offset="1" style="stop-color:#0047ba;stop-opacity:0"/>
    </linearGradient>
      <path d="M1440.2 2.2H.2v267.1s382-12.6 731 45.9 709 39.8 709 39.8V2.2z" style="fill:url(#a)"/>
  </g>
                    <defs>
    <path id="b" d="M1440.2.2H.2v251.9s382-27.8 731 30.8 709-.5 709-.5V.2z"/>
  </defs>
                    <clipPath id="c">
    <use xlink:href="#b" style="overflow:visible"/>
  </clipPath>
                    <g style="clip-path:url(#c)">
    <image class="imgSrc"
           preserveAspectRatio="xMidYMid slice"
           style="overflow:visible" width="1280" height="853" xlink:href="public/banner_hero_img_1.jpeg"
           transform="translate(-10.55 -206.921) scale(1.1821)"/>
  </g>
                    <defs>
    <filter id="d" filterUnits="userSpaceOnUse" x=".2" y="0" width="1440" height="360">
      <feColorMatrix values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0"/>
    </filter>
  </defs>
                    <mask maskUnits="userSpaceOnUse" x=".2" y="0" width="1440" height="360" id="e">
    <path d="M1440.2 0H.2v251.9s382-27.8 731 30.8 709-.5 709-.5V0z" style="fill:#fff;filter:url(#d)"/>
  </mask>
                    <g style="mask:url(#e)">
    <path
            class="overlay"
            d="M.2 0h1440v360H.2V0z" style="enable-background:new"/>
  </g>
                    <path d="M.2 242s382-40.8 731 17.8c349 58.5 709-10.5 709-10.5"
                          style="fill:none;stroke:#dae0e7;stroke-width:3;stroke-opacity:.4"/>
</svg>
            </div>

            <div class="headerBanner__img --mobile">
                <svg  class="headerBanner__svg"
                      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 320 248">
                    <g opacity=".54">
                        <linearGradient id="A" gradientUnits="userSpaceOnUse" x1="0" y1="121.297" x2="371.515" y2="121.297">
                            <stop offset="0" stop-color="#0047ba" />
                            <stop offset=".831" stop-color="#0047ba" stop-opacity=".45" />
                            <stop offset="1" stop-color="#0047ba" stop-opacity="0" />
                        </linearGradient>
                        <path d="M320,0H0v198.8c56.7,6.1,114.3,13.7,171,23.2c49.8,8.3,99.8,15.1,149,20.6V0z" fill="url(#A)" />
                    </g>
                    <defs>
                        <filter id="B" filterUnits="userSpaceOnUse" x="-76" y="-41" width="428" height="366">
                            <feColorMatrix values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0" />
                        </filter>
                    </defs>
                    <mask maskUnits="userSpaceOnUse" x="-76" y="-41" width="428" height="366" id="C">
                        <path d="M320 0H0v192.7c56.7 5 114.3 11.7 171 20.4 49.8 7.7 99.8 13.2 149 16.9V0z" fill="#d9d9d9" filter="url(#B)" />
                    </mask>
                    <g mask="url(#C)">
                        <image
                                class="imgSrc"
                                preserveAspectRatio="xMidYMid slice"
                                width="320" height="231" xlink:href="public/banner_hero_img_2.png" transform="translate(-1 -.5)" overflow="visible" />
                    </g>
                    <defs>
                        <filter id="D" filterUnits="userSpaceOnUse" x="0" y="0" width="320" height="230">
                            <feColorMatrix values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 1 0" />
                        </filter>
                    </defs>
                    <mask maskUnits="userSpaceOnUse" x="0" y="0" width="320" height="230" id="E">
                        <path d="M320 0H0v192.7c56.7 5 114.3 11.7 171 20.4 49.8 7.7 99.8 13.2 149 16.9V0z" fill="#d9d9d9" filter="url(#D)" />
                    </mask>
                    <g mask="url(#E)">
                        <path   class="overlay"
                                d="M0 0h320v230H157.2 0V0z" enable-background="new" />
                    </g>
                </svg>
            </div>

            <div class="headerBanner__elements">
                <div class="container">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb headerBanner__breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Library</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Data</li>
                        </ol>
                    </nav>
                </div>
                <div class="container --titleContainer">
                    <h1 class="headerBanner__title">Ristorazione</h1>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- SECTION HEADER BANNER END-->
