<div id="sectionHeader" class="container-fluid">
    <div class="sectionDescription">
        <div class="VIS">VISIBLE <i class="gnv-icon-caret-down ml-3"></i></div>
        <div class="linkFigma"><h3>{{title}}</h3></div>
        <div class="VIS"><i class="gnv-icon-caret-down mr-3"></i>VISIBLE</div>
    </div>
</div>
