<!-- SECTION SIDE MENU -->
<!-- ADD CLASS sideMenu -->
<section id="sideMenu">
    <div class="col-md-3 sideMenu left-side-links">
        <div class="togglable" data-id="collapse1">
            <ul class="nav" id="nav-tab">
                <li class="active">
                    <a class="nav-item nav-link active" href="#" target="">
                        myGNV
                    </a>
                </li>
                <li class="">
                    <a class="nav-item nav-link " href="#" target="">
                        Premi
                    </a>
                </li>
                <li class="">
                    <a class="nav-item nav-link " href="#" target="">
                        Accumulo punti
                    </a>
                </li>

            </ul>
        </div>
    </div>
</section>

<div id="slide-container">
    <div class="slider-container" role="navigation" aria-label="Menu di navigazione secondario">
        <button id="prevBtn" class="gnv-icon-arrow-left sliderBtn" aria-label="Pulsante precedente" tabindex="0">
            <span class="sr-only">Precedente</span>
        </button>
        <ul class="slider" id="slider">
            <li class="slide active">
                <a href="#" target="" aria-label="myGNV" tabindex="1">
                    myGNV
                </a>
            </li>
            <li class="slide">
                <a href="#" target="" aria-label="myGNV" tabindex="2">
                    myGNV
                </a>
            </li>
            <li class="slide">
                <a href="#" target="" aria-label="Premi" tabindex="3">
                    Premi
                </a>
            </li>
            <li class="slide">
                <a href="#" target="" aria-label="Accumulo Punti" tabindex="4">
                    Accumulo Punti
                </a>
            </li>
            <li class="slide">
                <a href="#" target="" aria-label="myGNV" tabindex="5">
                    myGNV
                </a>
            </li>
            <li class="slide">
                <a href="#" target="" aria-label="Premi" tabindex="6">
                    Premi
                </a>
            </li>
            <li class="slide">
                <a href="#" target="" aria-label="Lorem Ipsum" tabindex="7">
                    Lorem Ipsum
                </a>
            </li>
            <li class="slide">
                <a href="#" target="" aria-label=" Accumulo Punti" tabindex="8">
                    Accumulo Punti
                </a>
            </li>
        </ul>
        <button id="nextBtn" class="gnv-icon-arrow-right sliderBtn" aria-label="Pulsante successivo" tabindex="1">
            <span class="sr-only">Successivo</span>
        </button>
    </div>
</div>
<!-- SECTION SIDE MENU END-->
