<!-- SECTION COL TEMPLATE STYLE 2 START -->
<section class="columnTemplateTwo">
    <div class="columnTemplateTwo__content">
        <div class="columnTemplateTwo__textWrapper">
            <p>Vacanze in Tunisia? Comincia a viverle già in mare, con i nostri menu pensati per farti
                sentire già a destinazione.
                Entra subito in contatto con la cultura tunisina, assaggiando la merguez in umido, tipica
                salsiccia fresca piccante della cucina maghrebina, o lo spezzatino di agnello con verdure,
                profumato come la terra da cui proviene.</p>
        </div>
        <button class="btn btn-link columnTemplateTwo__btn">
            <i class="gnv-icon-download"></i>
            Menù Self–service Tunisia
        </button>

    </div>
    <div class="columnTemplateTwo__image">
        <label>Baleari</label>
        <img src="https://loremflickr.com/300/300?random=1" alt="">
    </div>
</section>
<!-- SECTION COL TEMPLATE STYLE 2 END -->
