<!-- SECTION COL TEMPLATE STYLE 1 -->
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col">
            <div class="sectionDescription">
                <div class="linkFigma"><h3>COL TEMPLATE STYLE 1</h3></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <section class="columnTemplate">
                <h2 class="columnTemplate__heading">
                    Bimbi
                </h2>
                <p class="columnTemplate__subHeading">Viaggiare con i bambini in traghetto</p>
                <img src="https://loremflickr.com/880/260?random=1" alt="" class="img-fluid columnTemplate__img">
                <div class="columnTemplate__content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </section>
        </div>

    </div>
</div>
<!-- SECTION COL TEMPLATE STYLE 1-->
