<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 bg-light">
            <h3>QUI MENU</h3>
        </div>
        <div class="col-md-10">
            <!-- SECTION COL TEMPLATE STYLE 2 START -->
            <div class="container columnTemplateTwo --imageOnRight  ">
                <div class="row no-gutters">
                    <div class="col-lg-3">
                        <div class="columnTemplateTwo__imageWrapper">
                            <div class="columnTemplateTwo__innerImageWrapper"
                                 style="background-image:url('https://loremflickr.com/300/300?random=1')">
                                <label>Baleari</label>
                                <img class="sr-only" src="https://via.placeholder.com/300x300?text=Travel"
                                     alt="Image description">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="columnTemplateTwo__content">
                            <div class="columnTemplateTwo__contentInnerWrapper">
                                <div class="columnTemplateTwo__textWrapper">
                                    <p>Vacanze in Tunisia? Comincia a viverle già in mare, con i nostri menu pensati per
                                        farti
                                        sentire già a destinazione.
                                        <br/>
                                        <br/>
                                        Entra subito in contatto con la cultura tunisina, assaggiando la merguez in
                                        umido, tipica
                                        salsiccia fresca piccante della cucina maghrebina, o lo spezzatino di agnello
                                        con verdure,
                                        profumato come la terra da cui proviene.</p>

                                </div>
                                <button class="btn btn-link columnTemplateTwo__btn">
                                    <i class="gnv-icon-download"></i>
                                    Menù Self–service Tunisia
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SECTION COL TEMPLATE STYLE 2 END -->
        </div>
    </div>
</div>



