.sc-card-promo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 0;
  position: relative;
  width: 100%;
  min-height: 415px;

  @include media-breakpoint-up(lg) {
    max-width: 553px;
    padding-bottom: 0;
  }

  &--content {
    z-index: 2;
    bottom: 1.2rem;
    padding: 0 1.2rem;
    position: absolute;
    width: 100%;

    @include media-breakpoint-up(md) {
      bottom: 2rem;
      padding: 0 2rem;
    }

    @include media-breakpoint-up(lg) {
      bottom: 3rem;
      padding: 0 3rem;
    }

    &--wrapper {
      color: $blue4;

      .sc-card-promo--offer {
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.5px;
        line-height: 33px;
        margin-bottom: 0;
        text-transform: uppercase;
      }

      .sc-card-promo--title {
        color: $blue4;
        display: inline;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 0;
        line-height: 26px;
        margin-bottom: 0;
        text-align: left;
        display: -webkit-box;
        max-height: 64px;
        overflow: hidden;
        -webkit-line-clamp: 2;

        @include media-breakpoint-up(lg) {
          font-size: 2.4rem;
          line-height: 30px;
        }

        @media (max-width: 320px) {
          font-size: 1.8rem;
        }
      }

      .sc-card-promo--info {
        font-size: 2rem;
        display: inline;

        @include media-breakpoint-up(lg) {
          font-size: 2.4rem;
          line-height: 30px;
        }
      }

      .gnv-btn {
        font-size: 1.4rem;
        text-align: center;
        display: block;
        letter-spacing: .7px;
        padding: 2rem 0;
        text-align: center;

        @include media-breakpoint-up(lg) {
          display: inline-grid;
          height: 100%;
          padding: 0;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 100%;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
