#main-container {

  main {
    transition: transform 300ms ease-in-out;
  }

  &.slide-up {

    > header {
      opacity: 0;
      transform: translateY(-10rem);
    }

    main {
      transform: translateY(-10rem);
    }
  }

  > header {
    position: fixed;
    width: 100%;
    z-index: 12;
    top: 0;
    opacity: 1;
    will-change: opacity;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  }

  .menu-mobile-btn-wrapper {
    @include media-breakpoint-down(sm) {
      position: absolute;
      right: 0;
    }
  }

  .main-nav {
    background-color: $gnv-white;
    font-weight: 300;
    height: 4.4rem;
    padding: 0;
    position: relative;

    @include media-breakpoint-up(lg) {
      position: static;
      height: 6rem;
    }

    .navbar-brand {
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      height: 4.4rem;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      margin-right: 0;

      @include media-breakpoint-up(lg) {
        transform: none;
        display: flex;
        align-items: center;
        height: 6rem;
        margin-right: 1rem;
        padding-left: 1.3rem;
        position: static;
      }

      @include media-breakpoint-down(sm) {
        left: 0;
        margin-left: 4.5rem;
      }

      .logo {
        color: $blue4;
        line-height: 0;
        padding: 0.4rem 0;

        @include media-breakpoint-up(lg) {
          padding: 0;
          line-height: 1.5;
        }

        .gnv-icon-logo {
          font-size: 3.6rem;

          @include media-breakpoint-up(lg) {
            font-size: 7rem;
          }
        }

        .gnv-logo-blue {
          color: $blue4;
        }

        .gnv-logo-bianco {
          fill: $gnv-white;
          stroke: $blue4;
        }
      }
    }


    .navbar-collapse {
      background-color: $blue4;
      position: absolute;
      top: 4.4rem;
      right: 0;
      width: 100%;
      z-index: 999;

      @include media-breakpoint-up(lg) {
        position: static;
        background-color: transparent;
        color: $gnv-white;
        top: 6rem;
      }

      .navbar-nav {

        &:not(.langs-navbar-nav) .nav-link {
          color: $gray1;

          &:hover {
            color: $orange;
          }
        }

        .main-nav-item {
          position: relative;
        }

        .nav-link.hovering {

          &:after {
            content: '';
            position: absolute;
            bottom: -1px;
            transform: translateX(-50%);
            left: 50%;
            height: 0;
            width: 0;
            border-style: solid;
            border-width: 0 12px 9px;
            border-color: transparent transparent $blue4;
          }
        }
      }
    }

    .burger-menu {
      height: 5.1rem;
      width: 4.4rem;
      border-radius: 0;
      font: inherit;
      overflow: visible;
      margin: 0;
      padding: 1.5rem;
      cursor: pointer;
      transition-timing-function: linear;
      transition-duration: .15s;
      transition-property: opacity, filter;
      text-transform: none;
      color: inherit;
      border: 0;
      text-align: center;

      @include media-breakpoint-up(lg) {
        height: 6rem;
        width: 6rem;
      }

      &:focus {
        outline: 0
      }

      &-box {
        position: relative;
        width: 2.1rem;
        height: 1.2rem;
        display: inline-block;

        &-inner,
        &-inner:after,
        &-inner:before {
          position: absolute;
          width: 2.1rem;
          height: 2px;
          transition-timing-function: ease;
          transition-duration: .15s;
          transition-property: transform;
          border-radius: 4px;
          background-color: $blue4;
        }

        &-inner {
          top: 50%;
          display: block;
          margin-top: -2px;
          transition-delay: .12s;
          transition-duration: 75ms;
          transform: rotate(45deg);
          transition-timing-function: cubic-bezier(.215, .61, .355, 1);

          &:after,
          &:before {
            content: "";
            left: 0;
          }

          &:after {
            bottom: 0;
            transition: bottom 75ms ease, transform 75ms cubic-bezier(.215, .61, .355, 1) .12s;
            transform: rotate(90deg);
          }

          &:before {
            top: 0;
            opacity: 0;
            transition: top 75ms ease, opacity 75ms ease .12s;
          }
        }
      }

      &.collapsed {

        .burger-menu-box-inner {
          margin-top: 0;
          transform: rotate(0);
          transition-timing-function: cubic-bezier(.55, .055, .675, .19);

          &:after,
          &:before {
            display: block;
            content: "";
          }

          &:after {
            bottom: -5px;
            transform: rotate(0deg);
            transition: bottom 75ms ease .12s, transform 75ms cubic-bezier(.55, .055, .675, .19);
          }

          &:before {
            opacity: 1;
            top: -5px;
            transition: top 75ms ease .12s, opacity 75ms ease;
          }
        }
      }
    }

    .btn-profile-wrapper {

      @include media-breakpoint-down(sm) {
        display: none;
      }

      @include media-breakpoint-up(lg) {
        position: relative;
      }

      .btn-profile {
        display: inline-flex;
        align-items: center;

        .gnv-btn {
          padding: 0;
          color: $orange;

          @include media-breakpoint-up(lg) {
            padding: 2rem;
          }

          .gnv-icon {
            &:after,
            &:before {
              font-size: 1.6rem;

              @include media-breakpoint-up(lg) {
                font-size: 2rem;
              }
            }
          }

          &.gnv-btn-orange {
            background-color: transparent;

            @include media-breakpoint-up(lg) {
              background-color: $orange;
            }
          }
        }

        .gnv-btn-square {
          height: 4.4rem;
          width: 4.4rem;

          @include media-breakpoint-up(lg) {
            height: 6rem;
            width: 6rem;
            background-color: $gray-user;
          }
        }
      }

      .user-login-wrapper,
      .user-logged-wrapper {

        .gnv-btn {
          color: #ffffff;
          padding: 1rem;
        }
      }
    }

    .nav-item {

      .nav-link {
        color: $gnv-white;
        padding: 1rem 3rem;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        line-height: 2.11;

        @include media-breakpoint-up(lg) {
          color: $gray1;
          padding: 0 2rem;
        }
      }

      &.active {

        > .nav-link {
          font-weight: 400;
        }
      }

      &.main-nav-item {

        .nav-link {
          color: $gray2;
          font-size: 1.5rem;
          font-weight: 700;
          letter-spacing: 0.5px;
          line-height: 1.3;
          padding: 2rem .5rem;
          text-transform: uppercase;

          @include media-breakpoint-up(xl) {
            font-size: 1.6rem;
            padding: 2rem;
          }
        }
      }
    }

    .sub-menu {
      display: none;
      list-style: none;
      padding-left: 0;

      @include media-breakpoint-down(lg) {
        padding-bottom: 1rem;
      }
    }

    .navbar-collapse {

      .nav-item.nav-item--has-children.active {

        > .nav-link--icon {
          background-color: $blue4;
          color: $gnv-white;
          padding-top: 13px;
          padding-bottom: 13px;
          text-align: center;

          .gnv-icon {
            border-left: 1px solid rgba(255, 255, 255, 0.3);
            left: 0;
            right: auto;
            line-height: 65px;
            transform: rotate(180deg);
          }
        }

        > .sub-menu {
          display: block;
        }
      }

      #mobile-nav .nav-item.nav-item--has-children.active > .nav-link--icon .gnv-icon {
        top: 0;
      }
    }

    .nav-link--icon {
      position: relative;

      .gnv-icon {
        cursor: pointer;
        height: auto;
        position: absolute;
        right: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: 65px;
      }
    }

    .langs-navbar-nav.navbar-nav {
      padding: 0;
      min-height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      .nav-link {
        padding: 0;
        font-size: 20px;
      }

      .nav-item.active .nav-link {
        font-weight: 900;
      }
    }

    #mobile-nav {

      &.is-opened {
        overflow-y: scroll;
        z-index: 1000;
      }
    }
  }

  .navbar-submenu {
    display: none;
    position: absolute;
    top: 10rem;
    left: 0;
    width: 100%;

    &.open,
    &:hover {
      display: block;
    }
    /* Submenu */
    &.service-list {
      background-color: $blue4 !important;

      .services-menu {
        // .container-fluid {
        //   display: flex;
        //   flex-direction: column;
        // }
        .cont {
          max-width: 1440px;
          margin: 0 auto;
        }
      }

      .service-links {
        min-height: 45rem;

        .service-bkg {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50%;
          height: 100%;
        }

        a {

          &:hover {
            color: $gnv-white;
            text-decoration: underline;
          }
        }

        .menu-item {
          color: $gnv-white;
          display: block;
          font-size: 2rem;
          font-weight: 400;
          margin-bottom: 1.2rem;
          text-align: left;
          text-transform: uppercase;
        }

        .submenu-item {
          color: $gnv-white;
          display: block;
          font-size: 1.6rem;
          font-weight: 400;
          letter-spacing: .8px;
          line-height: 1.72;
        }

        .section-wrapper {
          padding: 2rem 1rem;
        }

        .section-wrapper--item {
          padding: 1rem 1.5rem;
        }
      }
    }
  }
  /* Profile */
  .gnv-account-profile {
    background-color: $blue4 !important;
    right: 0;
    position: absolute;
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: 525px;
    }

    form {

      .link-group {
        padding: 0 0 20px 0;

        &--forgot-pwd {
          color: $gnv-white;
          font-size: 1.5rem;
          font-weight: 400;
          text-decoration: underline;

          &:hover {
            color: $gnv-white;
          }
        }

        label {
          color: white;
          font-size: 15px;
          font-weight: 400;
        }

        &--register {
          color: $gnv-white;
          font-size: 15px;
          font-weight: 400;

          + a {
            color: $gnv-white;
            font-size: 15px;
            font-weight: 700;

            &:hover {
              color: $gnv-white;
            }
          }
        }
      }

      hr {
        border-color: $gnv-white;
        margin-top: 2rem;
      }
    }

    .user-logged-wrapper {

      &--username {
        color: $gnv-white;
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 20px;
      }

      &--view-profile {
        color: $gnv-white;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;

        &:before {
          padding-right: 20px;
        }
      }

      a {
        margin-bottom: 20px;
        display: block;
      }

      .gnv-btn {
        margin-bottom: 20px;
      }
    }

    .gnv-btn {
      background: $gray5;
      width: 100%;
      display: table;

      &.btn-orange {
        background-color: $orange;
      }
    }

    &.dropdown-menu {
      border-radius: 0;
      border: none;
      margin: 0;
    }
  }

  .btn-profile {

    &.dropdown-toggle {

      &:after {
        border: none;
        content: none;
      }
    }
  }
}

.cc-info-box {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 40px;

  a.phone-link {
    .gnv-icon.gnv-icon-phone-4 {
      font-size: 1.8rem;

      @include media-breakpoint-up(lg) {
        margin-right: 5px;
      }
    }

    span {
      display: none;

      @include media-breakpoint-up(lg) {
        display: inline-block;
      }
    }

    @include media-breakpoint-up(lg) {
      color: $gray1;
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      white-space: nowrap;
      margin-right: 15px;
      max-width: 180px;
      pointer-events: none;
    }
  }

  @include media-breakpoint-up(md) {
    justify-content: flex-start;
    padding-right: 0;
    width: calc(100% - 90px);
    padding-left: 20px;
  }

  @include media-breakpoint-up(lg) {
    width: auto;
    padding-left: 0;
  }
}
