.section-title {
  margin-bottom: 2.4rem;
  text-align: center;

  @include media-breakpoint-up(lg) {
    margin-bottom: 4rem;
  }

  h3 {
    color: $blue4;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 0.3px;
    line-height: 1.29;
    margin-bottom: 2rem;

    @include media-breakpoint-up(lg) {
      font-size: 4rem;
      line-height: 0.78;
      letter-spacing: 0.5px;
    }
  }

  p {
    color: $gray2;
    font-weight: 700;
    letter-spacing: 0.6px;

    @include media-breakpoint-up(lg) {
      letter-spacing: 0.8px;
      line-height: 1.72;
    }
  }
}
