@import "styles/colors";

$contentPaddingMobile: 15px;
$contentPaddingDesktop: 20px;
$contentOffsetMobileY: -45px;
$contentOffsetX: -3%;
$contentOffsetDesktopY: 30%;


@mixin shadowElm {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  background-color: $light-gray2;
  right: 0;
  bottom: -13px;
  height: 50px;
  width: calc(100% - 50px);
  margin: auto;
  border-radius: 15px;
  z-index: -1;
}

// Common styles
.columnTemplateTwo {
  @include media-breakpoint-up(lg) {
    height: 135%;
  }

  &.--imageOnRight {
    @include media-breakpoint-up(lg) {
      .row > *:nth-child(1) {
        order: 2;
      }
      .row > *:nth-child(2) {
        order: 1;
      }
    }
  }

  &__imageWrapper {
    position: relative;
    @include media-breakpoint-up(lg) {
      height: 100%;
    }

    &:after {
      @include shadowElm()
    }

    &:after {
      display: none;
      z-index: 1;
      width: calc(100% - 30px);
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }

    label {
      position: absolute;
      top: 15px;
      font-size: 2.4rem;
      font-weight: 800;
      color: $gnv-white;
      background-color: rgba($blue5, .6);
      padding: 8px 15px;
      margin: 0;
    }
  }

  &__innerImageWrapper {
    position: relative;
    z-index: 2;
    border-radius: 12px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @include media-breakpoint-up(lg) {
      height: 100%;
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    border-radius: 12px;
    border: 1px solid $light-gray2;
    top: $contentOffsetMobileY;
    transition: .2s all linear;
    background-color: $gnv-white;
    @include media-breakpoint-up(lg) {
      padding: $contentPaddingDesktop;
    }

    &:after {
      @include shadowElm()
    }

    &:after {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  &__contentInnerWrapper {
    position: relative;
    background-color: $gnv-white;
    border-radius: 12px;
    padding: $contentPaddingMobile;
    @include media-breakpoint-up(lg) {
      padding: $contentPaddingDesktop;
    }
  }

  &__textWrapper, &__textWrapper p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: $gray1;
  }

  &__btn {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: $blue4;
    font-weight: 700;

    i {
      margin-right: 5px;
    }
  }
}

// Image on Right
.columnTemplateTwo.--imageOnRight {
  .columnTemplateTwo__imageWrapper {
    label {
      left: unset;
      right: 0;
      border-bottom-left-radius: 12px;
      border-top-left-radius: 12px;
    }
  }

  .columnTemplateTwo__content {
    @include media-breakpoint-up(lg) {
      top: $contentOffsetDesktopY;
      right: $contentOffsetX;
      padding: $contentPaddingDesktop;
    }
  }
}

// Image on Left
.columnTemplateTwo:not(.--imageOnRight) {
  .columnTemplateTwo__imageWrapper {
    label {
      left: 0;
      right: unset;
      border-bottom-right-radius: 12px;
      border-top-right-radius: 12px;
    }
  }

  .columnTemplateTwo__content {
    @include media-breakpoint-up(lg) {
      top: $contentOffsetDesktopY;
      left: $contentOffsetX;
      padding: $contentPaddingDesktop;
    }
  }
}
