.headerBanner {
  position: relative;
  min-height: 24vw;
  &__svg {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    .overlay {
      opacity: 0.5;
    }
  }
  &__elements{
    position: relative;
    top:0;
    left:0;
    z-index:2;
  }
  &__title {
    color: $gnv-white;
  }
}
