.headerBanner {
  position: relative;
  min-height: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  img {
    width: 100%;
    clip-path: url(#mask1);
    -webkit-clip-path: url(#mask1);
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    background-size: cover;
    background-image: url("assets/desktop-hero-banner-onda.svg");
    z-index:2;

  }
}
