%gnv-source-sans-pro-lt {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

%gnv-source-sans-pro-it {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-style: italic;
}

%gnv-source-sans-pro-rg {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

%gnv-source-sans-pro-it {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-style: italic;
}

%gnv-source-sans-pro-sd {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

%gnv-source-sans-pro-sd-it {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-style: italic;
}

%gnv-source-sans-pro-bd {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

%gnv-source-sans-pro-bd-it {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-style: italic;
}

%gnv-source-sans-pro-bk {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
}

%gnv-source-sans-pro-bk-it {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-style: italic;
}
