%gnv-lato-lt {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

%gnv-lato-lt-it {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
}

%gnv-lato-rg {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

%gnv-lato-it {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
}

%gnv-lato-bd {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

%gnv-lato-bd-it {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: italic;
}

%gnv-lato-bk {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

%gnv-lato-bk-it {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-style: italic;
}
