.card-route {

  &--header {
    background-color: $blue4;
    color: #ffffff;
    min-height: 5rem;
    padding: 1.5rem 1rem;
    text-align: center;

    @include media-breakpoint-up(lg) {
      min-height: 6rem;
      padding: 1.7rem 3rem;
      text-align: left;
    }

    h3 {
      color: $white;
      font-size: 1.4rem;
      font-weight: 700;
      display: inline-block;
      letter-spacing: 0.3px;
      line-height: normal;
      margin: 0;
      vertical-align: middle;

      @include media-breakpoint-up(lg) {
        font-size: 2.2rem;
        letter-spacing: 0.3px;
      }

      span {
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 300;
        letter-spacing: 0.3px;
        padding: 0 .5rem;
        text-transform: uppercase;
        vertical-align: middle;

        @include media-breakpoint-up(lg) {
          font-size: 1.4rem;
        }
      }

      i {
        vertical-align: sub;
        display: inline-block;
        font-size: 3.5rem;
        padding-right: 1.5rem;

        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 1px;
    background-color: $gray8;
    margin: 1.5rem;

    @include media-breakpoint-up(lg) {
      left: 50%;
      margin: 0;
      position: absolute;
      transform: translateX(-50%) rotate(0deg);
      width: 1px;
      height: 100%;
    }
  }

  &--body {
    border-left: 2px solid $gray8;
    border-right: 2px solid $gray8;
    padding: 1.5rem;

    @include media-breakpoint-up(lg) {
      padding: 3rem;
    }

    p {
      line-height: normal;
    }

    .card-route--type {
      font-size: 1.6rem;
      font-weight: 900;
      text-transform: uppercase;

      @include media-breakpoint-up(lg) {
        font-size: 2.2rem;
      }
    }

    .card-route--price {
      text-align: right;

      p {
        color: $gray1;
        font-size: 1.4rem;
        font-weight: 900;
        margin-bottom: 0;
        opacity: .5;

        @include media-breakpoint-up(lg) {
          font-size: 1.6rem;
        }
      }

      span {
        color: $orange;
        display: block;
        font-size: 1.8rem;
        font-weight: 900;

        @include media-breakpoint-up(lg) {
          font-size: 2.5rem;
        }
      }
    }

    .card-route--journey {

      &-title {
        color: $orange;
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 1rem !important;

        @include media-breakpoint-up(lg) {
          font-size: 1.4rem;
        }
      }

      &-time {
        display: inline;
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.1px;
        line-height: 25px;

        @include media-breakpoint-up(lg) {
          font-size: 1.8rem;
          letter-spacing: 0.3px;
          line-height: 30px;
        }

        span {
          display: inline;
          font-size: 1.2rem;
          font-weight: 400;
          letter-spacing: 0.1px;
          line-height: 25px;
          text-transform: uppercase;

          @include media-breakpoint-up(lg) {
            font-size: 1.4rem;
            letter-spacing: 0.1px;
            line-height: 30px;
          }
        }
      }
    }
  }

  &--footer {

    .card-route--d-more {
      padding: 1.2rem;

      @include media-breakpoint-up(lg) {
        padding: 1.65rem 3rem;
      }

      a {
        color: $gray1;
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.2px;
        text-decoration: underline;

        @include media-breakpoint-down(lg) {
          display: block;
          text-align: center;
          font-size: 1.2rem;
        }
      }
    }

    .gnv-btn {
      padding: 1.5rem 0;

      @include media-breakpoint-up(lg) {
        display: flex;
        min-width: 35rem;
      }

      span {
        font-size: 1.7rem;
        margin: 0 auto;

        @include media-breakpoint-up(lg) {
          font-size: 1.8rem;
        }
      }
    }
  }
}
