$gnv-icon-alert: "\e9a4";
$gnv-icon-search: "\e9a3";
$gnv-icon-ticket: "\e9a2";
$gnv-icon-instagram: "\e9a1";
$gnv-icon-library-circled: "\e9a0";
$gnv-icon-mail-3: "\e905";
$gnv-icon-caret-down: "\e99e";
$gnv-icon-logo-light: "\e99d";
$gnv-icon-arrow-light-left: "\e97d";
$gnv-icon-arrow-light-right: "\e97e";
$gnv-icon-dinner: "\e97f";
$gnv-icon-snack-bar: "\e980";
$gnv-icon-ice-cream: "\e981";
$gnv-icon-shopping-center: "\e982";
$gnv-icon-games: "\e983";
$gnv-icon-convention: "\e984";
$gnv-icon-meeting: "\e985";
$gnv-icon-swimming-pool: "\e986";
$gnv-icon-library: "\e987";
$gnv-icon-video-on-demand: "\e988";
$gnv-icon-bathroom: "\e989";
$gnv-icon-sink: "\e98a";
$gnv-icon-wifi-free: "\e98b";
$gnv-icon-tv: "\e98c";
$gnv-icon-phone-3: "\e98d";
$gnv-icon-radio: "\e98e";
$gnv-icon-heat: "\e98f";
$gnv-icon-air-conditioner: "\e990";
$gnv-icon-safe: "\e991";
$gnv-icon-shower: "\e992";
$gnv-icon-hydro-massage: "\e993";
$gnv-icon-phon: "\e994";
$gnv-icon-wc: "\e995";
$gnv-icon-minibar: "\e996";
$gnv-icon-late-checkout: "\e997";
$gnv-icon-sea-view: "\e998";
$gnv-icon-reclinable: "\e999";
$gnv-icon-sofa-bed: "\e99a";
$gnv-icon-balcony: "\e99b";
$gnv-icon-beach-chair: "\e99c";
$gnv-icon-sad-tear: "\e97c";
$gnv-icon-barchetta: "\e97b";
$gnv-icon-alert1: "\e973";
$gnv-icon-other-services: "\e974";
$gnv-icon-route: "\e917";
$gnv-icon-share: "\e918";
$gnv-icon-adult-male-plus-infant-circle: "\e965";
$gnv-icon-kid-female-plus-infant-circle: "\e966";
$gnv-icon-adult-plus-infant-circle: "\e960";
$gnv-icon-adult-male-plus-infant: "\e967";
$gnv-icon-adult-plus-infant: "\e95e";
$gnv-icon-kid-female-plus-infant: "\e968";
$gnv-icon-adult-male-circle: "\e964";
$gnv-icon-adult-female-circle: "\e969";
$gnv-icon-kid-male-circle: "\e962";
$gnv-icon-kid-female-circle: "\e963";
$gnv-icon-adult-male: "\e90a";
$gnv-icon-adult-female: "\e909";
$gnv-icon-kid-female: "\e908";
$gnv-icon-kid-female-2: "\e96a";
$gnv-icon-kid-female-3: "\e96b";
$gnv-icon-kid-male: "\e907";
$gnv-icon-infant: "\e938";
$gnv-icon-infant-2: "\e96c";
$gnv-icon-cat: "\e92a";
$gnv-icon-dog: "\e929";
$gnv-icon-animal: "\e904";
$gnv-icon-paw-si: "\e941";
$gnv-icon-paw-no: "\e92f";
$gnv-icon-close-circle: "\e961";
$gnv-icon-plus-circle: "\e95f";
$gnv-icon-close: "\e90d";
$gnv-icon-plus: "\e935";
$gnv-icon-minus: "\e936";
$gnv-icon-euro-4: "\e95b";
$gnv-icon-euro-3: "\e95c";
$gnv-icon-euro-2: "\e95d";
$gnv-icon-euro-1: "\e95a";
$gnv-icon-check-rounded: "\e91a";
$gnv-icon-upgrade: "\e959";
$gnv-icon-insurance: "\e958";
$gnv-icon-time: "\e940";
$gnv-icon-priority-landing: "\e977";
$gnv-icon-gym: "\e978";
$gnv-icon-child-kit: "\e93f";
$gnv-icon-catering: "\e957";
$gnv-icon-check-dialogic: "\e956";
$gnv-icon-delete: "\e953";
$gnv-icon-arrow-circle-right: "\e954";
$gnv-icon-arrow-circle-left: "\e955";
$gnv-icon-pencil: "\e950";
$gnv-icon-down-caret: "\e948";
$gnv-icon-left-caret: "\e951";
$gnv-icon-right-caret: "\e952";
$gnv-icon-up-caret: "\e949";
$gnv-icon-boat: "\e94a";
$gnv-icon-bridge-place: "\e94b";
$gnv-icon-cabin-shared: "\e94c";
$gnv-icon-suite: "\e94d";
$gnv-icon-cabin-private: "\e94e";
$gnv-icon-chair: "\e94f";
$gnv-icon-pin-date-light: "\e946";
$gnv-icon-pin-date: "\e947";
$gnv-icon-pin: "\e945";
$gnv-icon-check-regular: "\e944";
$gnv-icon-restaurant: "\e93a";
$gnv-icon-communication: "\e93c";
$gnv-icon-lock: "\e943";
$gnv-icon-promo: "\e93b";
$gnv-icon-people-circle: "\e93d";
$gnv-icon-resident-circle: "\e93e";
$gnv-icon-info: "\e939";
$gnv-icon-logo: "\e937";
$gnv-icon-def-passenger: "\e91f";
$gnv-icon-wifi: "\e920";
$gnv-icon-deposito-bagagli: "\e921";
$gnv-icon-halal-food: "\e922";
$gnv-icon-entertainment: "\e923";
$gnv-icon-lounge-bar: "\e924";
$gnv-icon-self-service-restaurant: "\e925";
$gnv-icon-kids-room: "\e926";
$gnv-icon-prayer-room: "\e927";
$gnv-icon-shop: "\e928";
$gnv-icon-pets: "\e92b";
$gnv-icon-groups: "\e92c";
$gnv-icon-movies: "\e931";
$gnv-icon-slot-room: "\e942";
$gnv-icon-pizza: "\e96e";
$gnv-icon-kids-entertainment: "\e92d";
$gnv-icon-church: "\e92e";
$gnv-icon-resident-rate-circle: "\e930";
$gnv-icon-holidays: "\e932";
$gnv-icon-work: "\e96f";
$gnv-icon-family: "\e933";
$gnv-icon-pinterest: "\e91b";
$gnv-icon-youtube: "\e91c";
$gnv-icon-twitter: "\e91d";
$gnv-icon-facebook: "\e91e";
$gnv-icon-credit-card: "\e914";
$gnv-icon-hourglass: "\e915";
$gnv-icon-calendar: "\e916";
$gnv-icon-car: "\e979";
$gnv-icon-big-vehicle: "\e970";
$gnv-icon-camper: "\e971";
$gnv-icon-trainer: "\e972";
$gnv-icon-motorbike: "\e919";
$gnv-icon-my-gnv: "\e910";
$gnv-icon-group-circle: "\e911";
$gnv-icon-paw-circle: "\e912";
$gnv-icon-resident-rate-circle2: "\e913";
$gnv-icon-arrow-right: "\e90f";
$gnv-icon-arrow-left: "\e97a";
$gnv-icon-arrow-down: "\e90b";
$gnv-icon-arrow-up: "\e96d";
$gnv-icon-download: "\e90e";
$gnv-icon-to: "\e90c";
$gnv-icon-pointer-left: "\e934";
$gnv-icon-from-to-separate: "\e900";
$gnv-icon-from-to: "\e901";
$gnv-icon-services: "\e902";
$gnv-icon-user: "\e903";
$gnv-icon-phone: "\e975";
$gnv-icon-phone-2: "\e99f";
$gnv-icon-mail: "\e976";
$gnv-icon-mail-2: "\e906";
$gnv-icon-check: "\e9a5";
$gnv-icon-tickets: "\e9a7";
$gnv-icon-check-inverted: "\e9a8";
$gnv-icon-phone-4: "\e9a6";
