html, body {
  width: 100%;
}
.sectionDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .VIS {
    font-size: 1.2rem;
    font-weight: bold;
    color: deeppink;
    @media screen  and (min-width:576px){
      font-size: 2rem;
    }
  }
  h3 {
    font-size: 2rem;
    font-weight:900;
    text-align: center;
    @media screen  and (min-width:576px){
      font-size: 3rem;
    }
  }
}

.mYaccordion {
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  border-radius: 5px;
  margin: 20px auto;


  &-item {
    border-top: 1px solid #ddd;
    .VIS {
      opacity: 0;
    }
    .sectionDescription h3 {
      color: rgba(grey, .9);
    }
    &.visible {
      .VIS {
        opacity: 1;
      }
      .sectionDescription h3 {
        color: deeppink;
      }
    }
  }

  &-button {
    background-color: #f7f7f7;
    color: #333;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #e2e2e2;
    }
  }
  &-content {
    display: none;
    padding: 20px;
    background-color: white;
    overflow: visible;
    transition: max-height 0.2s ease-out;
  }
}
